<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Обновить</title>
</head>
<body>

<form th:method="POST" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">
  <label for="username">Ник: </label>
  <input type="text" th:field="*{username}" id="username"/>
  <br>
  <label for="password">Пасс: </label>
  <input type="text" th:field="*{password}" id="password"/>
  <br>
  <label for="age">Возраст: </label>
  <input type="text" th:field="*{age}" id="age"/>
  <br>
  <input type="submit" value="Обновить"/>
</form>

</body>
</html>