<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Index page</title>-->
<!--</head>-->
<!--<body>-->
<!--<a href="admin/new">Создать</a>-->
<!--<br>-->
<!--<th:block th:each="user : ${users}"  >-->
<!--    <text th:text="${user}" th:with="id = ${user.getId()}"></text>-->
<!--    <a th:href="@{/admin/{id} (id=${user.getId()})}">Удалить</a>-->
<!--    <a th:href="@{/admin/update/{id} (id=${user.getId()})}">Править</a>-->
<!--    <br>-->
<!--</th:block>-->
<!--<br>-->
<!--<a href="/logout">Выход</a>-->
<!--</body>-->
<!--</html>-->